:root{
    --white-color: #fff; 
    --black-color: #000; 
    --text-color: #333; 
}
*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    line-height: 1.5;
    font-family: sans-serif;
}

.app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app__container {
    flex: 1; /* Nội dung sẽ mở rộng để đẩy footer xuống */
}
body{
    background-color: black; 
    color: var(--white-color); 
   
}
html{
    font-size: 62.5%; /*khi dieu chinh px cho doan van thi 1rem = 10px(1.6rem =16px)*/
    line-height: 1.6rem;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* Toi uu trai nghiem nguoi dung tren nhieu nen tang */
.grid{
    width: 1200px; 
    max-width: 100%;/*Khi man hinh vuot qua 1200px thi hien thi toi da 100% kich thuoc man hinh*/
    margin: 0 auto; 
}

.grid__full-width{
    width: 100%; 
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color:var(--white-color); 
}
ul{
    list-style: none;
}
/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
    width: 8px; /* Độ rộng thanh cuộn */
    
}

/* Nền của thanh cuộn */
::-webkit-scrollbar-track {
    background: black; /* Nền màu đen */
}

/* Màu và kiểu của thanh trượt */
::-webkit-scrollbar-thumb {
    background: blue; /* Màu xanh dương */
    border-radius: 10px; /* Bo góc */
    
}

/* Hiệu ứng khi di chuột vào thanh cuộn */
::-webkit-scrollbar-thumb:hover {
    background: #031a57; /* Xanh sáng hơn khi hover */
}