:root{
    --white-color: #fff; 
    --black-color: #000; 
    --text-color: #333; 
}
*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: sans-serif;
}

.app {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app__container {
    flex: 1; /* Nội dung sẽ mở rộng để đẩy footer xuống */
    margin-top: 80px;
    
}
body{
    background-color: var(--white-color); 
    color: var(--black-color);  
   
}
html{
    font-size: 62.5%; /*khi dieu chinh px cho doan van thi 1rem = 10px(1.6rem =16px)*/
    line-height: 1.6rem;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* Toi uu trai nghiem nguoi dung tren nhieu nen tang */
.grid{
    width: 1200px; 
    max-width: 100%;/*Khi man hinh vuot qua 1200px thi hien thi toi da 100% kich thuoc man hinh*/
    margin: 0 auto; 
}

.grid__full-width{
    width: 100%; 
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color:var(--white-color); 
}
ul{
    list-style: none;
}
/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
    width: 8px; /* Độ rộng thanh cuộn */
    
}

/* Nền của thanh cuộn */
::-webkit-scrollbar-track {
    background: black; /* Nền màu đen */
}

/* Màu và kiểu của thanh trượt */
::-webkit-scrollbar-thumb {
    background: blue; /* Màu xanh dương */
    border-radius: 10px; /* Bo góc */
    
}

/* Hiệu ứng khi di chuột vào thanh cuộn */
::-webkit-scrollbar-thumb:hover {
    background: #031a57; /* Xanh sáng hơn khi hover */
}
/* -------------------------------------------------------------------------------------------------- */

.app__header{
    background-color: #0025ff;
    height: 80px; 
    width: 100%;
    position:fixed;
    z-index: 2000;
}
.header__navbar{
    justify-content: flex-end;
}
.navbar__content{
    display: inline-flex;
    font-size: 1.8rem;
    position: relative;
    left: 700px;
    margin-top: 25px ;
}

.navbar__content li{
    margin-left: 30px;
}
.container__logo--header{
    position: fixed; 
    top: 10px; 
    left: 150px; 
    z-index: 3000;
    
}

.container__logo--header img{
    height: 130px;
}

.app__footer{
    background-color: #0025ff;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 380px;
    width: 100%;
    color:var(--white-color)
}

.footer__content{
    display: flex;
    justify-content: center;
    font-size: 25px;    
    margin-bottom: 50px;
    
}

.content__email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 39px;
}
.social__icon{
    display: flex;
}

.content__email__horizontal{
    display: flex;
    
}

.email__text{
    margin-left: 10px;
}

.email__icon img{
    height: 25px;
    margin-top: 5px;
}

.content__phone{
    display: flex;
    flex-direction: column;
    /*  */
    
}

.content__phone__horizontal{
    display: flex;
}

.phone__icon img{
    height: 25px;
    margin-top: 5px;
}
.phone__text{
    margin-left: 10px;
}

.content__socialIcon__horizontal{
    display: flex;
}

.social__icon img{
    height: 25px;
    margin-top: 5px;
}
.social__text{
    margin-left: 10px;
}

.content__email, .content__phone, .content__socialIcon{
    padding-left: 150px;

}

.email__btn{
    background-color: #0025ff;
    font-size: 16px;
    color: var(--white-color);
    height: 50px;
    width: 130px;
    border-radius: 100px;
    border: 1px solid var(--white-color);
    position: relative;
    top: 5px; 
    font-weight: 900;
}

.email__btn:hover{
    background-color: var(--white-color);
    color:#0025ff;
}
.phone__btn{
    background-color: #0025ff;
    font-size: 16px;
    color: var(--white-color);
    height: 50px;
    width: 165px;
    border-radius: 100px;
    border: 1px solid var(--white-color);
    position: relative;
    top: 5px; 
    font-weight: 900;
    left: 10px
}

.phone__btn:hover{
    background-color: var(--white-color);
    color:#0025ff;
}
.footer__line{
    width: 75%;
    height: 1px; /* Độ dày */
    background-color: white; /* Màu sắc */
    position: relative;
    left: 210px; 
    bottom: 30px;
    
}
.footer__about__list{
    display: inline-flex; 
    margin-left: 280px;
    font-size: 1.65rem;
}
.footer__about__list li{
    margin-left: 20px;
   
}
.container__backgroundPepsi img{
    height: 650px; 
    width: 100%;
    object-fit:cover;
}

.container__pepsiText{
    color:var(--black-color); 
    font-size: 1.6rem;
}

.container__pepsiText{
    font-size: 50px; 
    font-weight: 800;
    color:var(--white-color); 
    position: relative; 
    bottom: 260px;
    left:151px; 
}
.container__pepsiBtn{
    height: 60px;
    width: 300px;
    border-radius: 70px;
    background-color: #d8d6d2;
    border: 1px solid #d8d6d2;
    color:var(--black-color);
    font-size: 20px;
    font-weight:700;
    position: relative; 
    bottom: 320px;
    left: 1075px;     
}

.container__pepsiBtn:hover{
    background-color: var(--white-color);
}
.container__textHeader{
    color:var(--black-color); 
    position: relative;
    bottom:110px;
    left: 170px;
    font-size:16px;
    font-weight: bold;
}

.container__form-product{
    background-color:#f6f8f9;
    color:var(--black-color); 
    height: 600px; 
    width: 1000px;
    margin-top: 10px;
    position: relative;
    left:265px; 
    bottom: 100px;
}

.form__row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    position: relative;
    top: 50px;
}

.form__group{
    margin-top: 60px;
    margin-bottom: 10px ;
    width: 100%;
    font-size: 18px;
}

input, select, textarea {
    border:none; 
    border-bottom: 1px solid var(--black-color);
    background-color: #f6f8f9;
    outline: none;
    padding: 10px; 
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color:var(--black-color);
    appearance: none;
}
input:focus, select:focus, textarea:focus{
    border-bottom: 2px solid var(--black-color);

}
input[type="text"], select{
    width: 440px;
}
select{
    margin-top: 0.8px;
    
}
textarea{
    height: 245.5px;
}
.form__row--left{
    margin-left: 50px;
}
.form__row--right{
    margin-left: 40px;
}
.form__btn{
    height: 35px;
    width: 60px;
    background-color: #0d6efd;
    font-size: 16px;
    color:#fff;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #0d6efd;
    cursor: pointer;
    
 }
 .form__btn:hover{
    background-color: #fff;
    color:#0d6efd;
 }
.form__btn:active{
    border: 3px solid #84aae5; 
}