.app__container{
    padding-top: 70px; 
    padding-bottom: 120px;
 }
 .container__text h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
}
.container__text p {
    font-size: 20px;
    color: #ccc;
    margin-bottom: 10px;
    text-align: center;
}
.container__logosignin {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng */
    margin-bottom: 20px; /* Khoảng cách dưới logo */
}

.container__logosignin img {
    width: 110px;
    height: 110px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* max-width: 600px; */
}

.form {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.form-group {
    width: 100%;
    max-width: 250px;
}

.form-group label {
    display: none; /* Hide labels as they are not in the image */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.form-group input::placeholder {
    color: #888;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 19px;
    cursor: pointer;
    margin-bottom: 20px;
}

.forgot-password {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.forgot-password a {
    color: #fff;
    text-decoration: underline;
}

.register-now {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* làm lại cái này */
.error-message {
    background-color: #ffcccc; /* Màu nền đỏ nhạt để biểu thị lỗi */
    color: #cc0000; /* Màu chữ đỏ đậm */
    border: 1px solid #cc0000; /* Viền đỏ đậm */
    border-radius: 5px; /* Bo góc */
    padding: 10px; /* Khoảng cách bên trong */
    margin-top: 15px; /* Khoảng cách phía trên */
    text-align: center; /* Căn giữa nội dung */
    font-size: 14px; /* Kích thước chữ */
    font-weight: bold; /* Chữ đậm */
    width: 100%; /* Chiếm toàn bộ chiều rộng container */
    max-width: 400px; /* Giới hạn chiều rộng tối đa */
    margin-left: auto; /* Căn giữa theo chiều ngang */
    margin-right: auto; /* Căn giữa theo chiều ngang */
}