.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Khoảng cách giữa các sản phẩm */
    justify-content: center; /* Căn giữa danh sách sản phẩm */
    align-items: center;
    text-align: center;
}

.product-item {
    width: 200px; /* Định kích thước cố định cho sản phẩm */
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    background-color: black;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
}
